*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #111;
    overflow: hidden;
}

span {
    position: absolute;
    background-image: linear-gradient(
    90deg,
    rgb(53, 50, 50)0%,
    rgb(0, 169, 253)100%);
    width: 10px;
    height: 10px;
    pointer-events: none;
    border-radius: 60%;
}

span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
    90deg,
    rgb(242, 242, 242)0%,
    rgb(103, 126, 137)100%);
    border-radius: 50%;
    animation: moveParticules 2s linear infinite;
}

@keyframes moveParticules {
 0% {
     transform: translate(0);
    }
 100%  {
     transform: translate(300px);
    }
}